.l_alignItemsCenter {
    align-items: center !important;
}

.l_justifyContentCenter {
    justify-content: center !important;
}

.l_justifyContentEnd {
    justify-content: flex-end !important;
}

.l_directionColumn {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.l_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.l_wrap {
    width: 100%;
    margin: auto;
}

.l_wrap_inr {
    max-width: 1110px;
    width: 90vw;
    margin: auto;
}

.mt_60 {
    margin-top: 60px !important;
}

.mb_60 {
    margin-bottom: 60px !important;
}

.mt_50 {
    margin-top: 50px !important; 
}

.mx_auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.pt_15 {
    padding-top: 15px !important;
}

.pt_20 {
    padding-top: 20px !important;
}

.pt_40 {
    padding-top: 40px !important;
}

.pt_60 {
    padding-top: 60px !important;
}