.g_bold {
    font-weight: bold;
}

.g_btn {
    position: relative;
    display: block;
    margin-bottom: 120px;
    color: #000;
    background-color: #ff8800;
    border: 2px solid #fffce4;
    border-radius: 10px;
    width: 100%;
    max-width: 255px;
    transition: color .2s, background .2s;
    -webkit-transition: color .2s, background .2s;
}

.g_btn a {
    width: 100%;
    height: 100%;
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.g_btn:hover {
    color: #fffce4;
    background-color: hsl(46, 100%, 26%);
    border-color: #fffce4;
}

.g_company_search_lst {
    margin-right: calc(50% - 50vw);
    margin-bottom: 15px !important;
}

.g_company_search_lst .slick-dots {
    position: absolute;
    bottom: -83px;
    left: 65%;
    display: inline-block !important;
    width: auto !important;
    z-index: 11;
}

.g_company_search_lst_itm {
    width: 36%;
    margin-right: 40px;
}

.g_company_search_lst_itm_inr {
    display: block;
}

.g_company_search_lst_img img {
    height: 330px;
    object-fit: cover;
    object-position: center;
}

.g_company_search_lst_num {
    color: #fff;
    font-size: 2.6rem;
    letter-spacing: 4px;
    -webkit-text-stroke: 2px #fff;
    padding-left: 25px;
}

.g_company_search_lst_en {
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #fff;
    position: relative;
    z-index: 1;
    padding-left: 25px;
    padding-right: 50px;
    margin-top: 5px;
}

.g_company_search_lst_ja {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    padding-left: 25px;
    margin-top: 15px;
}

.g_company_search_txtarea {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 30px);
    z-index: 11;
}

@media (max-width: 1280px) {
    .g_company_search_lst .slick-dots {
        left: 0;
        right: initial;
        margin: auto;
        width: 100%;
        width: calc(100vw - 85px) !important;
        max-width: 100vw !important;
        margin: auto;
        text-align: right;
        padding-right: 140px;
    }

    .g_company_search_lst_img img {
        height: 260px;
        object-fit: cover;
        object-position: center;
    }
}
@media (max-width: 896px) { 
     .g_company_search_lst {
        margin-right: 0;
    }    
}

.g_futura {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    margin: 0;
}

.g_img_lst {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.g_img_lst_img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.g_img_lst_itm {
    width: 25%;
    box-sizing: border-box;
}

.g_img_lst_itm a:hover  {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 6px 12px #00000026;
}

.g_img_lst_itm_inr {
    display: block;
    width: 100%;
    cursor: pointer;
}

.g_img_lst_ttl_area {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: calc(100% - 15px);
}

.g_img_lst_ttl_en {
    color: #fff;
    padding-left: 20px;
    font-size: 2.4rem;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #fff;
}

.g_img_lst_ttl_ja {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    padding-right: 45px;
    margin-top: 5px;
    font-size: 2rem;
    z-index: 1;
    color: #000000;
    text-shadow: 
    -4px -4px 0 rgb(255, 255, 255),
    4px -4px 0 rgb(255, 255, 255),
    -4px  4px 0 rgb(255, 255, 255),
    4px  4px 0 rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 1280px) {
    .g_img_lst_itm {
        width: 33.3333%;
    }
}
@media screen and (max-width: 896px) {
    .g_img_lst_itm {
        width: 50%;
    }

    .g_img_lst_ttl_en {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .g_img_lst_ttl_ja {
        font-size: 1.8rem;
    }
}

.g_info_itm_thum_img {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.g_info_itm_thum_img img {
    width: 100%;
    object-fit: cover;
    -webkit-transition: transform .2s;
    transition: transform .2s;
}

.g_keyword_area_outer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.g_lst {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.g_lst_itm {
    width: calc(25% - 15px); /* 4列 */
    box-sizing: border-box;
}

.g_lst .slick-track {
    display: flex;
    align-items: stretch;
}

.g_lst_itm_inr {
    height: 100%;
    display: block;
    box-shadow: 0 3px 6px #00000016;
    box-sizing: border-box;
}

.g_lst_itm_img {
    aspect-ratio: 16 / 9; /* お好みで4/3, 1/1なども可能 */
    width: 100%;
    overflow: hidden;
}

.g_lst_itm_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.g_lst_txtarea_outer {
    height: calc(100% - 60px);
    padding: 20px;
    padding-bottom: 30px;
}

.g_lst_txt {
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    padding-top: 20px;
}

.g_lst_arrow_cont {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #CCCCCC;
    position: relative;
    padding-top: 20px;
    color: #222;
    font-size: 1.8rem;
}

.g_lst_arrow {
    font-size: 1.8rem;
    text-align: right;
    padding-right: 35px;
}

@media screen and (max-width: 1280px) {
    .g_lst_itm {
        width: calc(50% - 10px);
}
}
@media screen and (max-width: 896px) {
    .g_lst_itm {
        width: 100%;
    }
}


.g_sec {
    padding-top: 120px;
}

.g_sub_ttl_en {
    position: relative;
    display: inline-block;
    color: #ff8800;
    font-weight: bold;
    -webkit-text-stroke: 1px #ff8800;
    letter-spacing: 1px;
    font-style: italic;
    padding: 0 25px;
}

.g_ttl_ja {
    font-size: 8rem;
    font-weight: lighter;
    color: #ff8800;
    letter-spacing: 8px;
    -webkit-text-stroke: 5px #8b711b;
    font-style: helvetica, sans-serif;
    line-height: 1;
}

@media (max-width: 896px) {
    .g_sec {
        padding-top: 100px;
    }

    .g_ttl_en {
        font-size: 7rem;
        -webkit-text-stroke: 3px #ff8800;
    }

    .g_ttl_ja {
        font-size: 2.6rem;
    }

    .g_keyword_area_outer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}


.top_company-search_sec {
    overflow: hidden;
}

.top_company_keyword_area {
    position: relative;
    width: 55vw !important;
    margin-left: 0 !important;
}

.top_company_keyword_area .wp-block-vk-filter-search-pro-filter-search-pro {
    margin-bottom: 0 !important;
}

.top_company_keyword_area .vkfs__labels {
    padding-top: 0 !important;
}

.top_company_keyword_area .vkfs__outer-wrap {
    margin: 0 !important;
}

.top_company_keyword_area .vkfs__label-name {
    display: none;
}

.vkfs__label-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fffce4;
    margin-bottom: 0px !important;
}

@media (max-width: 896px) {
    .top_company-search_sec {
        padding-top: 200px;
    }

    .top_company_keyword_area {
        width: calc(100% - 300px) !important;
    }
}
