/* === General Elements === */
.u_img {
    line-height: 0;
}

.u_ic {
    position: relative;
}


/* === Main Content === */
.top_main_content {
  padding-left: 260px;
  overflow: hidden;
}

.top_mv_sec_outer {
    position: relative;
    top: 0;
    width: 100vw;   
    aspect-ratio: 16 / 9; 
}

.top_mv_sec {
    position: relative;
    width: 100%;
    height: auto;
}

.top_mv_sec video {
  position: absolute;
  inset: 0;
  width: 100vw;
  object-fit: cover;
}

@media (max-width: 1380px) {
    .top_main_content {
        padding-left: 84px;
    }
}
@media (max-width: 896px) {
    .top_main_content {
        padding-left: 0;
    }
}


/* === Section Lineup === */
.section-lineup {
    overflow: hidden;
    padding-bottom: 60px;
}

.section-lineup .inner {
    margin: 0 auto;
    width: 100%;
    padding-left: 0rem;
    padding-right: 4rem;
}

.section-lineup .slick-list {
    overflow: visible;
}

.section-lineup .slick-arrow {
    display: inline-flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 896px) {
    .section-lineup {
        margin-right: 0;
        padding-bottom: 60px;
    }

    .section-lineup .inner {
        padding-right: 0rem;
    }
}

/* === Arrow Buttons === */
.com_arrow {
    height: 45px;
    width: 90px;
    display: flex;
    background-color: #fffce4;
    box-shadow: 0 3px 6px #000;
    position: absolute;
    right: 160px;
    bottom: -60px;
    z-index: 20;
}

.prev_arrow,
.next_arrow {
    position: relative;
    height: 45px;
    width: 45px;
}

@media (max-width: 1280px) {
    .com_arrow {
        right: 20px;
    }
}
@media (max-width: 896px) {
    .com_arrow {
        right: 30px;
    }
}


.top_company_keyword_area .vkfs__input-wrap input[type='text'] {
    border: 1px solid #fffce4;
    padding: 14px 20px;
    height: initial;
}

.top_company_keyword_area .vkfs__input-wrap input[type='text'] {
    margin-top: 0 !important;
}

.vkfs__input-wrap input[type='text'] {
    padding: 5px;
    height: 35px;
    margin-top: 10px !important;
}

.vkfs .btn[type=submit] {
    letter-spacing: 0;
    font-weight: bold;
    padding: 10px;
}

.vkfs:where(:not(.vkfs__layout--min)) .btn[type=submit] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: calc(100% - 20px);
}

@media (max-width: 896px) {
    .top_company_keyword_area .vkfs__input-wrap input[type='text'] {
        border: 1px solid #000;
        padding: 14px 20px;
    }
}



.tab_btn_area {
    display: flex;
    flex-wrap: wrap;
}

.tab_btn {
    flex-basis: calc(100% / 6);
    text-align: center;
    margin-right: 0;
    box-sizing: border-box;
}

.tab_btn a {
    display: block;
    position: relative;
    font-size: 1.6rem;
    padding-bottom: 20px;
    padding-right: 30px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.2;
    color: #000;
    cursor: pointer;
    transition: color .2s;
}

.tab_btn a.is-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff8800;
}

.tab_btn a::after {
  transition: all 0.3s ease;
}

.tab_btn_area_sp {
    display: none;
}

.tab-contents-item.is-active {
    display: flex;
}

.tab-contents-item {
    display: none;
    width: 100%;
    justify-content: center;
}

@media (max-width: 896px) {
    .tab_btn_area_pc {
        display: none;
    }

    .tab_btn_area_sp {
        display: flex;
        width: calc(100% - 20px);
    }

    .tab_btn {
        width: 33.3333%;
        margin-right: 0;
    }
}
@media (max-width: 991px) {
    .tab_btn a {
        font-size: 1.6rem;
    }
}





/* Footer */
footer {
    margin-top: 140px;
}

